:root {
  --cinza: #111;
  --vermelha: #3b9beb;
  --vermelha-escura: #1662a1;
  --branca: #444;
  --luz: rgb(0, 150, 220);
}

body {
  align-items: center;
  background: linear-gradient(-60deg, #333 0%,#222 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  filter: blur(0.2px);
}

h1 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 2rem;
  transition: text-shadow 0.8s;
}

.marca-ativa {
  text-shadow: 0px -10px 10px #000;
  transition: text-shadow 0.01s;
}

.teclado {
  background: linear-gradient(to bottom, #222 0%,#333 100%);
  box-shadow: 3px 4px 0 3px #222, 6px 6px 6px #000;
  border-radius: 20px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  transition: box-shadow 0.8s;
}

.teclado-ativo {
  box-shadow: 3px 4px 0 3px #222, 6px 6px 6px #000, 3px 3px 50px var(--luz);
  transition: box-shadow 0.01s;
}

.tecla {
  background: linear-gradient(to bottom, #303030 0%,#3d3d3d 100%);
  border-radius: 15px;
  box-shadow: 3px 3px 0 #222;
  color: #000;
  cursor: pointer;
  height: 120px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 120px;
}

.tecla.ativa,
.tecla:active {
  background: linear-gradient(to bottom, #2d2d2d 0%,#202020 100%);
  border: 2px solid  var(--vermelha);
  box-shadow: 3px 3px 0 #1f1f1f inset;
  color: #3b9beb;
  text-shadow: 0px 0px 30px var(--luz);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 0px 0px 5px var(--luz);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--vermelha-escura) inset, 1px 1px 10px var(--luz), 0px 0px 20px var(--luz) inset;
}

#tocar {
  margin-top: 30px;
  color: #ccc;
}
